.App-nav {
    padding: 10px 20px;
    text-align: center;
    background-color: var(--app-dark-bg);
    border-bottom: 2px solid var(--app-border);
}

.App-nav-list {
    display: flex;
    justify-content: space-around;
}

.App-nav-item {
    list-style-type: none;
    flex-grow: 1;
}

.App-nav a {
    text-decoration: none;
    color: var(--app-white);
    font-size: 1.1rem;
    padding: 8px 15px; 
    border-radius: 5px;
    display: block;  
    width: 90%; 
}

nav a:hover {
    background-color: var(--app-link-hover); 
}

.menuActivo {
    background-color: var(--app-green);
}