.App-header {
    background-color: var(--app-dark-bg);
    color: var(--app-white);
    padding: 20px;
    text-align: center;
    font-size: 1.5rem;
}

.App-footer {
    background-color: var(--app-dark-bg);
    color: var(--app-white);
    padding: 10px;
    text-align: center;
    font-size: 1rem;
}