:root {
    /* COLORES GENERALES */
    --app-bg: #f4f4f4;
    --app-dark-bg: #333333; 
    --app-green: #4CAF50; 
    --app-link-hover: #45a049;
    --app-white: #ffffff; 
    --app-light-gray: #f1f1f1; 
    --app-dark-gray: #757575; 
    --app-border: #ddd; 

    /* CRUD BOTONES COLORES*/
    --app-green: #4CAF50;
    --app-green-hover: #45a049;
    --app-red: #f44336; 
    --app-red-hover: #e53935;
    --app-blue: #2196F3; 
    --app-blue-hover: #1976d2;
    --app-yellow: #FFC107;
    --app-yellow-hover: #FFB300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--app-bg);
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
}